.app-home{
  .app-home-form {
    ion-label {
      background-color: rgb(200,200,200);
      padding: 7px;
    }
  }
  .post {
    background-color: #28e070 !important;
  }
  .get {
    background-color: #7e57ff!important;
  }
  .delete {
    background-color: red!important;
  }
  .put{
    background-color: #3880ff!important;
  }
  .patch {
    background-color: aquamarine!important;
  }
}
